<div class="bg-body2 ui-mobile-viewport ui-overlay-c">
	<div id="index" class="ui-page ui-body-c ui-page-active">

		<div class="header-2 ui-header ui-bar-a ui-header-fixed">
			<a href="index.html"><img class="logo-small" src="img/logo-small.jpg" alt="LiveBook"></a>
			<a href="search.html" class="icon-search ui-btn-right"><img src="img/icon-search.jpg" alt="搜索" /></a>
		</div><!-- /header -->

		<div class="content-2 ui-content">
			<div class="banner">
				<div class="banner-pic"><a href="news.html"><img src="img/banner.jpg" alt="banner" /></a></div>
				<div class="ui-grid-a">
					<div class="ui-block-a"><strong>户外安全</strong></div>
					<div class="ui-block-b">
						<strong><a href="news.html">儿童智能手机 可实时追踪位置信息</a></strong><br />
						<span>2013-07-07</span>
					</div>
				</div><!-- /grid-a -->
			</div>
			<h2 class="title">春季防感冒</h2>
			<div class="list-wrap ui-grid-a">
				<div class="list-pic ui-block-a">
					<div class="list-cont">
						<div class="banner-pic"><a href="#"><img src="img/pic1.jpg" alt="pic1" /></a></div>
						<div>
							<strong><a href="#">健康日常饮食</a></strong><br />
							<span>2013-07-07</span>					
						</div>
					</div>
				</div>
				<div class="list-pic ui-block-b fr">
					<div class="list-cont">
						<div class="banner-pic"><a href="#"><img src="img/pic2.jpg" alt="pic2" /></a></div>
						<div>
							<strong><a href="#">宝宝感冒了怎么办</a></strong><br />
							<span>2013-07-07</span>					
						</div>
					</div>
				</div>
				<div class="list-pic ui-block-a">
					<div class="list-cont">
						<div class="banner-pic"><a href="#"><img src="img/pic1.jpg" alt="pic1" /></a></div>
						<div>
							<strong><a href="#">健康日常饮食</a></strong><br />
							<span>2013-07-07</span>					
						</div>
					</div>
				</div>
				<div class="list-pic ui-block-b fr">
					<div class="list-cont">
						<div class="banner-pic"><a href="#"><img src="img/pic2.jpg" alt="pic2" /></a></div>
						<div>
							<strong><a href="#">宝宝感冒了怎么办</a></strong><br />
							<span>2013-07-07</span>					
						</div>
					</div>
				</div>
			</div><!-- /grid-a -->	
			<h2 class="title">家庭安全</h2>
			<div class="list-wrap ui-grid-a">
				<div class="list-pic ui-block-a">
					<div class="list-cont">
						<div class="banner-pic"><a href="#"><img src="img/pic1.jpg" alt="pic1" /></a></div>
						<div>
							<strong><a href="#">健康日常饮食</a></strong><br />
							<span>2013-07-07</span>					
						</div>
					</div>
				</div>
				<div class="list-pic ui-block-b fr">
					<div class="list-cont">
						<div class="banner-pic"><a href="#"><img src="img/pic2.jpg" alt="pic2" /></a></div>
						<div>
							<strong><a href="#">宝宝感冒了怎么办</a></strong><br />
							<span>2013-07-07</span>					
						</div>
					</div>
				</div>
				<div class="list-pic ui-block-a">
					<div class="list-cont">
						<div class="banner-pic"><a href="#"><img src="img/pic1.jpg" alt="pic1" /></a></div>
						<div>
							<strong><a href="#">健康日常饮食</a></strong><br />
							<span>2013-07-07</span>					
						</div>
					</div>
				</div>
				<div class="list-pic ui-block-b fr">
					<div class="list-cont">
						<div class="banner-pic"><a href="#"><img src="img/pic2.jpg" alt="pic2" /></a></div>
						<div>
							<strong><a href="#">宝宝感冒了怎么办</a></strong><br />
							<span>2013-07-07</span>					
						</div>
					</div>
				</div>
			</div><!-- /grid-a -->				
		</div><!-- /content -->

		<div class="footer-2 ui-footer ui-bar-a ui-footer-fixed">
			<div class="ui-grid-b">
				<div class="ui-block-a"><a class="icons icon-menu" ng-click="slidePage('/menu')" >菜单</a></div>
				<div class="ui-block-b ac"><a class="icons icon-home" href="index.html">首页</a></div>
				<div class="ui-block-c"><a class="icons icon-bbs" href="user.html">用户</a></div>
			</div>
		</div><!-- /footer -->

	</div>
</div><!-- /page -->
