<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>新闻 - 保贝书</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" size="144x144" href="res/icon/ios/icon-72-2x.png" />
<link rel="apple-touch-icon" size="114x114" href="res/icon/ios/icon-57-2x.png" />
<link rel="apple-touch-icon" size="72x72"   href="res/icon/ios/icon-72.png" />
<link rel="apple-touch-icon" size="57x57"   href="res/icon/ios/icon-57.png" />
<link rel="apple-touch-icon" href="res/icon/ios/icon-57.png" />
<link rel="apple-touch-startup-image" href="res/screen/ios/screen-iphone-portrait.png" media="(device-width: 320px)" sizes="320x640" />
<link rel="apple-touch-startup-image" href="res/screen/ios/screen-iphone-portrait-2x.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" sizes="640x920" />
<link rel="apple-touch-startup-image" href="res/screen/ios/screen-iphone-portrait-568h-2x.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" sizes="640x1096" />
<link rel="stylesheet" href="css/jquery.mobile-1.3.1.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="js/colorbox/colorbox.css" />
<script src="js/jquery.js"></script>
<script src="js/jquery.colorbox.min.js"></script>
<script>
	$(document).ready(function(){
		//popup
		$(".group1").colorbox({rel:'group1'});
		$(".inline").colorbox({inline:true, width:"60%"});
	});
</script>
</head>
<body>
<div class="bg-body2 ui-mobile-viewport ui-overlay-c">
<div id="news" class="ui-page ui-body-c ui-page-header-fixed ui-page-footer-fixed ui-page-active">

	<div class="header-fixed header-3 ui-header ui-bar-a ui-header-fixed">
		<a href="index.html" class="back"><img src="img/back.png" alt="返回" /></a>
		<h1 class="ui-title">新闻信息</h1>
	</div><!-- /header -->

	<div class="content-2 ui-content">
		<div class="news-pic"><a href="img/pic3.jpg" class="group1"><img src="img/pic3.jpg" alt="pic3" /></a></div>
		<div class="news-title">
			<div class="ui-grid-a">
				<div class="ui-block-a btn-r"><h1>长春婴儿随车被盗案</h1></div>
				<div class="ui-block-b btn-l">网易新闻<br />2013/07/08</div>
			</div>
		</div>
		<div class="news-cont">
			<p>3月5日晚，记者从吉林警方了解到，经昼夜连续工作，通过多种侦查手段，公安机关将周喜军列为“304”案件重点嫌疑人。迫于公安机关强大压力，周喜军于5日17时许到公安机关投案自首。而被人广泛关注的两个月大孩子已被其杀害。</p>
			<p>3月5日晚，记者从吉林警方了解到，经昼夜连续工作，通过多种侦查手段，公安机关将周喜军列为“304”案件重点嫌疑人。迫于公安机关强大压力，周喜军于5日17时许到公安机关投案自首。而被人广泛关注的两个月大孩子已被其杀害。</p>
		</div>
	</div><!-- /content -->

	<div class="footer-3 ui-footer ui-bar-a ui-footer-fixed">
		<!-- /这个模块不能删 -->
	</div><!-- /footer -->

	<div class="footer-toolbar">
		<a href="#popupShare" class="inline">分享</a>
		<a href="#popupComment" class="inline">评论</a>
		<a href="#popupCollect" class="inline">收藏</a>
	</div><!-- /footer -->

	<div class="hidden">
		<div id="popupShare" class="popup-share">
			<a href="#popupLogin" class="btn-green inline">分享到新浪微博</a><br />
			<a href="#popupShareAdd" class="btn-green inline">分享到腾讯微博</a><br />
			<a href="javascript:parent.$.colorbox.close()" class="btn-red">取消</a>
		</div><!-- /popupShare -->
	</div>

	<div class="hidden">
		<div id="popupLogin" class="popup-share">
			<dl class="login-list">
				<dt>请登录您的新浪微博</dt>
				<dd>
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-c">
						<input class="ui-input-text ui-body-c" type="text" placeholder="用户名" />
					</div>
				</dd>
				<dd>
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-c">
						<input class="ui-input-text ui-body-c" type="password" placeholder="密码" />
					</div>
				</dd>
				<dd>
					<div class="ui-grid-a">
						<div class="ui-block-a btn-r"><a href="javascript:parent.$.colorbox.close()" class="btn-red">取消</a></div>
						<div class="ui-block-b btn-l"><a class="btn-green" href="news.html">发布</a></div>
					</div>
				</dd>
			</dl>
		</div><!-- /popupLogin -->
	</div>

	<div class="hidden">
		<div id="popupShareAdd" class="popup-share">
			<dl class="login-list popup-comment-add">
				<dd>
					<div class="ui-textarea-wrap pos-rel">
						<textarea class="ui-textarea ui-input-text ui-body-c ui-corner-all ui-shadow-inset">我在#livebook#上阅读了《长春婴儿随车被盗案》，分享给大家看看。</textarea>
						<span>50/140</span>
					</div>				
				</dd>
				<dd>
					<div class="ui-grid-a">
						<div class="ui-block-a btn-r"><a href="javascript:parent.$.colorbox.close()" class="btn-red">取消</a></div>
						<div class="ui-block-b btn-l"><a class="btn-green" href="news.html">发布</a></div>
					</div>
				</dd>
			</dl>	
		</div><!-- /popupShareAdd -->
	</div>

	<div class="hidden">
		<div id="popupComment" class="popup-comment">
			<div class="mod-white popup-comment-add">
				<div class="ui-textarea-wrap pos-rel">
					<textarea class="ui-textarea ui-input-text ui-body-c ui-corner-all ui-shadow-inset" placeholder="我也说两句"></textarea>
					<span>0/140</span>
				</div>
				<div>
					<a class="btn-green w-2" href="comment-list.html">发送</a>
				</div>			
			</div>
		</div><!-- /popupComment -->
	</div>	

	<div class="hidden">
		<div id="popupCollect" class="popup-share">
			<p class="ac"><strong>收藏成功！</strong></p>
			<a href="javascript:parent.$.colorbox.close()" class="btn-red">确定</a>
		</div><!-- /popupCollect -->
	</div>		

	</div>
</div><!-- /page -->
</body>
</html>