<div data-role="page" id="search">

	<div data-role="header" data-position="fixed" class="header-fixed header-3">
		<a href="index.html" class="back"><img src="img/back.png" alt="返回" /></a>
		<h1>新闻信息</h1>
	</div><!-- /header -->

	<div data-role="content" class="content-2">
		<div class="news-pic"><a href="#popupPhotoLandscape" data-rel="popup" data-position-to="window"><img src="img/pic3.jpg" alt="pic3" /></a></div>
		<div data-role="popup" id="popupPhotoLandscape" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15"> 
			<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">关闭</a>
			<img src="img/pic3.jpg" alt="pic3" />
		</div>  
		<div class="news-title">
			<div class="ui-grid-a">
				<div class="ui-block-a btn-r"><h1>长春婴儿随车被盗案</h1></div>
				<div class="ui-block-b btn-l">网易新闻<br />2013/07/08</div>
			</div>
		</div>
		<div class="news-cont">
			<p>3月5日晚，记者从吉林警方了解到，经昼夜连续工作，通过多种侦查手段，公安机关将周喜军列为“304”案件重点嫌疑人。迫于公安机关强大压力，周喜军于5日17时许到公安机关投案自首。而被人广泛关注的两个月大孩子已被其杀害。</p>
			<p>3月5日晚，记者从吉林警方了解到，经昼夜连续工作，通过多种侦查手段，公安机关将周喜军列为“304”案件重点嫌疑人。迫于公安机关强大压力，周喜军于5日17时许到公安机关投案自首。而被人广泛关注的两个月大孩子已被其杀害。</p>
		</div>
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" class="footer-3">
		<!-- /这个模块不能删 -->
	</div><!-- /footer -->

	<div class="footer-toolbar">
		<a href="#popupShare" data-rel="popup" data-position-to="window" title="分享">分享</a>
		<a href="#popupComment" data-rel="popup" data-position-to="window" title="评论">评论</a>
		<a href="#popupCollect" data-rel="popup" data-position-to="window" title="收藏">收藏</a>
	</div><!-- /footer -->

	<div data-role="popup" id="popupShare" class="popup-share" data-overlay-theme="a">
		<a href="#popupLogin" data-rel="popup" data-position-to="window" class="btn-green">分享到新浪微博</a><br />
		<a href="#popupShareAdd" data-rel="popup" data-position-to="window" class="btn-green">分享到腾讯微博</a><br />
		<a href="#" data-rel="back" class="btn-red">取消</a>
	</div><!-- /popupShare -->

	<div data-role="popup" id="popupLogin" class="popup-share" data-overlay-theme="a">
		<dl class="login-list">
			<dt>请登录您的新浪微博</dt>
			<dd><input type="text" placeholder="用户名" /></dd>
			<dd><input type="password" placeholder="密码" /></dd>
			<dd>
				<div class="ui-grid-a">
					<div class="ui-block-a btn-r"><a href="#" data-rel="back" class="btn-red">取消</a></div>
					<div class="ui-block-b btn-l"><a rel="external" class="btn-green" href="news.html">发布</a></div>
				</div>
			</dd>
		</dl>
	</div><!-- /popupLogin -->

	<div data-role="popup" id="popupShareAdd" class="popup-share" data-overlay-theme="a">
		<dl class="login-list popup-comment-add">
			<dd>
				<div class="ui-textarea-wrap pos-rel">
					<textarea class="ui-textarea">我在#livebook#上阅读了《长春婴儿随车被盗案》，分享给大家看看。</textarea>
					<span>50/140</span>
				</div>				
			</dd>
			<dd>
				<div class="ui-grid-a">
					<div class="ui-block-a btn-r"><a href="#" data-rel="back" class="btn-red">取消</a></div>
					<div class="ui-block-b btn-l"><a rel="external" class="btn-green" href="news.html">发布</a></div>
				</div>
			</dd>
		</dl>	
	</div><!-- /popupShareAdd -->

	<div data-role="popup" id="popupComment" class="popup-comment" data-overlay-theme="a">
		<div class="mod-white popup-comment-add">
			<div class="ui-textarea-wrap pos-rel">
				<textarea class="ui-textarea" placeholder="我也说两句"></textarea>
				<span>0/140</span>
			</div>
			<div>
				<a rel="external" class="btn-green w-2" href="comment-list.html">发送</a>
			</div>			
		</div>
	</div><!-- /popupComment -->			

	<div data-role="popup" id="popupCollect" class="popup-share" data-overlay-theme="a">
		<p class="ac"><strong>收藏成功！</strong></p>
		<a href="#" data-rel="back" class="btn-red">确定</a>
	</div><!-- /popupCollect -->			
</div><!-- /page -->

