<div class="bg-body ui-mobile-viewport ui-overlay-c">
	<div id="user" class="content-4 ui-page ui-body-c ui-page-footer-fixed ui-page-active">

		<div class="header-fixed header-5 ui-header ui-bar-a">
			<a href="index.html" class="back ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-up-a">
				<span class="ui-btn-inner"><span class="ui-btn-text"><img alt="返回" src="img/back2.png" /></span></span>
			</a>
			<h1 class="ui-title">安全贴</h1>
		</div><!-- /header -->

		<div class="content-5 ui-content">
			<div class="user-box">
				<div class="ui-grid-a">
					<div class="ui-block-a">
						<div class="avatar2"><img src="img/avatar2.jpg" /></div>
					</div>
					<div class="ui-block-b">
						<div class="user-sign">
							<h3>我是钢铁侠</h3> 
							<p>我是钢铁侠，保护地球上所有孩子。</p>
						</div>	
					</div>
				</div><!-- /grid-b -->
				<div class="user-set"><a class="icons icon-set" href="user-info.html">设置</a></div>
			</div>
			<div class="ui-grid-c user-menu">
				<div class="ui-block-a">
					<a href="favorite.html" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c">
						<span class="ui-btn-inner"><span class="ui-btn-text">我的收藏</span></span>
					</a>
					<div class="bg-mark">3</div>
				</div>
				<div class="ui-block-b">
					<a href="theme-list.html" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c">
						<span class="ui-btn-inner"><span class="ui-btn-text">我的话题</span></span>
					</a>
					<div class="bg-mark">10</div>
				</div>
				<div class="ui-block-c">
					<a href="mycomment-list.html" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c">
						<span class="ui-btn-inner"><span class="ui-btn-text">我的评论</span></span>
					</a>
					<div class="bg-mark">5</div>
				</div>
				<div class="ui-block-d">
					<a href="tell-editor.html" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c">
						<span class="ui-btn-inner"><span class="ui-btn-text">告诉编辑</span></span>
					</a>
					<div class="bg-mark">2</div>
				</div>
			</div><!-- /grid-c -->
			<div class="user-btns">
				<a href="news-list.html" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c">
					<span class="ui-btn-inner"><span class="ui-btn-text">新闻信息</span></span>
				</a>
				<a href="talk.html" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c">
					<span class="ui-btn-inner"><span class="ui-btn-text">育儿安全交流</span></span>
				</a>
				<a href="recommend-list.html" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c">
					<span class="ui-btn-inner"><span class="ui-btn-text">安全推荐</span></span>
				</a>
			</div>
		</div><!-- /content -->

		<div class="footer-5 ui-footer ui-bar-a ui-footer-fixed">
			<a class="card-menu ui-btn ui-shadow ui-btn-corner-all ui-btn-up-a" href="baby-list.html">
				<span class="ui-btn-inner"><span class="ui-btn-text">宝宝安全卡<i><img alt="up" src="img/icon-up.png" /></i></span></span>
			</a>
		</div><!-- /footer -->

	</div>
</div><!-- /page -->
